.bgColor{
	background-color:#3355aa;
	}
.white-color{
color:#fff;
}
.listStyle{
font-family:Georgia;
color:#fff !important;
text-decoration: none;
}
.navFont{
   font-size:15px;
   font-style:italic;
}
body{
font-family:Georgia;
font-size:13px;
color:#222222;
}
.header{
	height: 80px;
	padding-top: 12px;
}
.headerSpacing{
	padding:10px;
}
.searchButton{
	padding-left:0px;

}
.searchGroup{
	padding-top: 5px;
}
.navBar{
	height: 40px;
}
.mainBody{
	height: 500px;
}

img{
	max-width:100%;
max-height:100%;

}
.imageContainer{
	padding-top: 35px;
	padding-left: 10px;
	

}
.innerContainer{
	padding: 10px;
	border: 1px solid grey;
	border-radius: 6px;
}
.para1{
	font-size: 14px;
	text-align: center;
	
}
.textColor{
	color:#3355aa;
	font-size: 16px;
	font-weight: bold;
}

.adjust{
	padding-top: 50px;
	padding-right: 10px;
}
.sectionGrey{
	text-align: center;
	font-weight: bold;
	font-size: 28px;
	background-color: #D3D3D3;
}
.spacing{
	padding-top: 25px;
    padding-bottom: 75px;
	
}
.outerContainer{
	color:#3355aa;
	font-size: 16px;
	background-color: #fff;
}
a{
	display: block;
}
.relative{
	background-color:#fff;
	height: 300px;
	width: 200px;
}
.absolute{
	background-color:#D3D3D3;
	height: 240px;
	position: absolute;
	width: 180px;
}
.footer{
background-color:#333333;
}
.footerFont{
	font-size: 14px;
	color:#fff;
}

.fontList{
	font-size: 11px;
}
.borderRight{
	border-right: 2px;
}
.flexBox{
    
    border-left: 1px solid #fff;
    font-size: 11px;
    
}
h5{
	border-bottom : 2px solid #FFFF00;
	padding-bottom: 10px;
	color:#3355aa;
	font-weight: bolder;
}
.marginBottom{
	margin-bottom: 30px;
}

.fontStyle{
	font-size:10px;
	color:#D3D3D3;
	border-bottom: 1px solid #D3D3D3;
	padding-bottom: 7px;
}
.spanTextColor{
color:#000;}

.viewMoreStyle{
font-weight: bold;
color:#3355aa
}
.borderBottom{
	border-bottom:1px solid #3d3d3d;
}
.bottomSpacing{
	margin-top: 10px;
	margin-bottom:35px;
	color:#d3d3d3;font-size: 11px;
}
.footerPipeLine {
	border-right: 1px solid #7b7b7b;
}